<div class="comment_section">
  <form (ngSubmit)="submitComment()">
    <input type="text" id="commentInput" [(ngModel)]="commentText" name="commentText"/>
    <button type="submit">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
      </svg>
    </button>
  </form>
  <div *ngIf="images[selectedImageIndex].comments.length > 0" class="comments_container">
    <p *ngFor="let comment of images[selectedImageIndex].comments">{{comment}}</p>
  </div>
  <div *ngIf="images[selectedImageIndex].comments.length === 0">
    <p>No comments yet.</p>
  </div>
</div>
